@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 10, 239, 201;
  --secondary: 20, 24, 39;
  --accent: 0, 209, 201;
  --textDefault: 31, 31, 31;
  --textSoft: 122, 122, 122;
  --textBold: 49, 49, 49;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary: 0, 0;
    --secondary: 0, 0;
    --tertiary: 0, 0;
    --darkBlue: 0, 0;
    --shadow: 0 0 rgba(0, 0, 0, 0.24);
  }
} */
